[submodule "contrib/bzip2"]
	path = contrib/bzip2
	url = git://sourceware.org/git/bzip2.git
[submodule "contrib/liblzma"]
	path = contrib/liblzma
	url = https://github.com/kobolabs/liblzma.git
[submodule "contrib/x264"]
	path = contrib/x264
	url = https://github.com/mirror/x264.git
